$header-background: #ccc;
$header-text: #000;
$header-border: #000;
$header-height: 75px;
$song-box-height: 50px;
$font-stack: helvetica, arial, sans-serif, serif;

*::after ,
*::before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html, body, h1{
  margin: 0px;
  padding: 0px;
  font-family: $font-stack;
}

.clearfix {
  &:before {
    display: table;
    content: "";
  }
  &:after {
    clear: both;
  }
}
.container {
  width: 100%;
}

#player {
  position:relative;
  left: 20%;
  width: 60%;
  border: 1px solid $header-border;
  float:left;
}

header {
  width: 100%;
  height: $header-height;
  background-color: $header-background;
  color: $header-text;
  border-bottom: 1px solid $header-border;
  float:left;

  h1 {
    margin-left: 20px;
    margin-top: 15px;
  }
}

.logo {
  width: $header-height;
  height: 100%;
  float:left;
}
.brand {
  height: 100%;
  width: calc(100% - $header-height);
  float:left;
}
section {
  width: 100%;
  height: 500px;
  float:left;
}
.song-box {
  width: 100%;
  height: $song-box-height;
  border-bottom: 1px solid $header-border;
  float: left;
}
.song-box-controls {
  width: $song-box-height;
  height: 100%;
  float: left;
}
.song-box-details {
  width: calc(100% - $song-box-height);
  height: 100%;
  float: left;
}
