@mixin play-swap {

    // hide pause by default
    .pause-button {
        display: none;
    }

    .playing {
        // highlight colors
        color: white;
        background-color: $highlight-color;

        // swap buttons
        .pause-button {
            display: block;
        }
        .play-button {
            display: none;
        }
    } 
}

@mixin flex-center {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
