:root {
  --green: #1db954;
  --grey: #a2a2a2; }

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: sans-serif;
  background: darkgrey; }

.flex-outer-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center; }

.flex-inner-container {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 50px;
  width: 800px; }

audio .hide {
  display: none;
  /*
  visibility: hidden;
  */ }
audio .show {
  display: block; }

/* header */
header {
  font-weight: bolder;
  font-size: xx-large;
  border: 1px solid var(--grey);
  background: var(--green);
  color: white;
  height: 65px;
  flex: 0 0 0; }
  header img {
    float: left;
    margin: 11px 15px 0 15px; }
  header h1 {
    margin-top: 15px; }

/* main */
main ul li {
  border: 1px solid var(--grey);
  background: white;
  cursor: pointer; }

main li p {
  margin-top: 5px; }
  main li p .song {
    color: black;
    font-size: large; }
  main li p .artist {
    margin-top: 5px;
    color: var(--grey);
    font-size: 15px; }

main .flex-songs {
  display: flex;
  flex-flow: column nowrap; }

main li span {
  float: left;
  margin-left: 15px;
  margin-top: 5px;
  margin-right: 5px; }
  main li span .main-play-icon {
    background-image: url("/images/main_play_grey.png");
    background-size: 50px;
    height: 50px;
    width: 50px; }
  main li span .main-pause-icon {
    background-image: url("/images/main_pause_grey.png");
    background-size: 50px;
    height: 50px;
    width: 50px; }

/* footer */
footer {
  border: 1px solid var(--grey);
  color: black;
  height: 90px;
  background: black;
  color: white; }
  footer span {
    cursor: pointer;
    float: left; }
    footer span #footer-back-icon {
      background-image: url("/images/footer_left_white.png");
      background-size: 28px;
      height: 28px;
      width: 28px;
      margin-top: 30px;
      margin-left: 25px; }
    footer span #footer-play-icon {
      background-image: url("/images/footer_play_white.png");
      background-size: 65px;
      height: 65px;
      width: 65px;
      margin-top: 15px;
      margin-left: 9px; }
    footer span #footer-forward-icon {
      background-image: url("/images/footer_right_white.png");
      background-size: 28px;
      height: 28px;
      width: 28px;
      margin-top: 30px;
      margin-left: 10px; }

footer p {
  margin-left: 190px; }
  footer p #footer-song {
    font-size: xx-large;
    font-weight: bolder;
    margin-top: 10px; }
  footer p #footer-artist {
    font-size: large;
    font-weight: bold;
    margin-top: 7px;
    color: var(--grey); }

/*# sourceMappingURL=main.css.map */
