@import "./modules/_colors";
@import "./partials/_reset";

body {
    font-family: sans-serif;
    background: darkgrey;
}	

.flex-outer-container {
	display: flex;
	flex-flow: row nowrap;	
	justify-content: center;
}

.flex-inner-container {
	display: flex;
	flex-flow: column nowrap;
	margin-top: 50px;
	width: 800px;
}

audio {
	.hide {
		display: none;
		/*
		visibility: hidden;
		*/
	}
	.show {
		display: block;	
	}
}

/* header */
header {
	font-weight: bolder;
	font-size: xx-large;
	border: 1px solid var(--grey);
	background: var(--green);
	color: white;
	height: 65px;
	flex: 0 0 0;
	img {
		float: left;
		margin: 11px 15px 0 15px;
	}	
	h1 {
		margin-top: 15px;
	}
}

/* main */
main ul li {
	border: 1px solid var(--grey);
	background: white;
	cursor: pointer;
}

main li p {
	margin-top: 5px;
	.song {
		color: black;
		font-size: large;
	}
	.artist {
		margin-top: 5px;
		color: var(--grey);
		font-size: 15px;
	}
}

main .flex-songs {
	display: flex;
	flex-flow: column nowrap;
}

main li span {
	float: left;
	margin-left: 15px;
	margin-top: 5px;
	margin-right: 5px;	
	.main-play-icon {
		background-image:url('/images/main_play_grey.png');
		background-size: 50px;
		height: 50px;
		width: 50px;
	}
	.main-pause-icon {
		background-image:url('/images/main_pause_grey.png');
		background-size: 50px;
		height: 50px;
		width: 50px;
	}
}

/* footer */
footer {
	border: 1px solid var(--grey);
	color: black;
	height: 90px;
	background: black;
	color: white;
	span {
		cursor: pointer;
		float: left;
		#footer-back-icon {
			background-image:url('/images/footer_left_white.png');
			background-size: 28px;
			height: 28px;
			width: 28px;
			margin-top: 30px;
			margin-left: 25px;
		}
		#footer-play-icon {
			background-image:url('/images/footer_play_white.png');
			background-size: 65px;
			height: 65px;
			width: 65px;
			margin-top: 15px;
			margin-left: 9px;
		}
		#footer-forward-icon {
			background-image:url('/images/footer_right_white.png');
			background-size: 28px;
			height: 28px;
			width: 28px;
			margin-top: 30px;
			margin-left: 10px;
		}
	}
}

footer p {
	margin-left: 190px;
	#footer-song {
		font-size: xx-large;
		font-weight: bolder;
		margin-top: 10px;
	}
	#footer-artist {
		font-size: large;
		font-weight: bold;
		margin-top: 7px;
		color: var(--grey);	
	}
}
