body {
  border: 1px solid;
  height: auto;
  header {
    background-color: rgba(0,0,0,.15);
    border-bottom: 2px solid;
  }
  h1 {
    font-weight: 700;
    display: inline-block;
  }
  i, h4, h5 {
    padding: 5px;
  }
  ul {
    padding-bottom: 150px;
    li:hover {
        color: #000000;
    }
    li {
      border-bottom: 1px solid;
      color: rgba(0,0,0,.60);
      i {
        display: inline-block;
        vertical-align: middle;
      }
      .col-xs-1 {
        text-align: center;
        line-height: 6em;
        padding-left: 3em;
      }
    }
  }
  footer {
    text-align: center;
    vertical-align: middle;
    color: #ffffff;
    background-color: rgba(0,0,0,.75);
    i, h4, h5 {
      display: inline-block;
    }
  }
}
