.the-navbar{
	margin-bottom: 0;
}

.dark-footer{
	background-color: #222;
	color: #fff;
}

.control-button{
}

.song-info-wrapper{
}

.glyphicon {
    font-size: 40px;
    color: #aaa;
    line-height: 70px;
}

.the-song{
	font-size: 25px;
}

.the-singer{
	font-size: 18px;
	color: #ccc;
}

.songs-wrapper{
	border: 2px solid #bbb;
	border-bottom: 0;
}

.song-wrapper{
	border-bottom: 2px solid #bbb;
}