/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  margin: 0;
  padding: 0; }

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after, q:before, q:after {
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Styles */
* {
  box-sizing: border-box; }

html, body {
  height: 100%;
  overflow: hidden; }

body {
  background-color: #e64141;
  position: relative;
  font-family: "PT Sans", Arial, sans-serif; }

#player {
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  width: 385px;
  text-align: center;
  border-radius: 20px;
  box-shadow: 0 5px 65px rgba(0, 0, 0, 0.7);
  background-color: rgba(17, 47, 51, 0.85);
  z-index: 100; }
  #player #playlist {
    padding: 20px 0;
    border-radius: 20px 20px 0 0;
    color: #2C3E50;
    background: white; }
    #player #playlist li {
      font-size: 14px;
      width: 350px;
      margin: 0 auto;
      padding: 8px 8px;
      cursor: pointer; }
      #player #playlist li.playing {
        color: white;
        background-color: #1b8b96; }
      #player #playlist li:hover {
        color: white;
        background: #9c8b88; }
  #player #controls {
    position: relative;
    padding: 20px 0 30px; }
    #player #controls #main-button {
      width: 33px;
      height: 39px;
      margin: 0 12px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
    #player #controls .side-button {
      width: 33px;
      height: 21px;
      margin: 0 12px;
      display: inline-block;
      vertical-align: middle;
      cursor: pointer; }
    #player #controls .icon-play {
      background: url("player/playButton.png") no-repeat; }
    #player #controls .icon-pause {
      background: url("player/pauseButton.png") no-repeat; }
    #player #controls .icon-prev {
      background: url("player/prevButton.png") no-repeat; }
    #player #controls .icon-next {
      background: url("player/nextButton.png") no-repeat; }

#waveform {
  height: 100%;
  overflow: hidden; }

#currently-playing {
  font-family: "Open Sans", Arial, sans-serif;
  font-weight: 800;
  position: absolute;
  left: -50px;
  color: rgba(255, 255, 255, 0.4);
  font-size: 40em;
  text-transform: uppercase;
  line-height: .6em; }

/*# sourceMappingURL=styles.css.map */
