$color-primary: #009587;
$color-primary-dark: #00786A;
$color-primary-light: #B1DEDA;
$color-secondary: #FE5621;
$color-secondary-dark: #D73502;
$color-secondary-light: #FF764B;

$color-audio-controls-bg: #212121;
$color-audio-controls: #FFFFFF;
$color-primary-borders: #212121;

$color-primary-text: #212121;
$color-secondary-text: #757575;
$color-header-text: #FFFFFF;