* {
    font-size: $main-font-size;
}

header {
    box-sizing: border-box;

    background: $color-primary-dark;
    @include header-typography();

    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    padding: .5em 0em;

    h1 {
        font-size: $header-font-size;
        color: $color-header-text;
        text-align: center;
        margin: .5em 0em;
    }
}

main {
    box-sizing: border-box;

    @include main-borders();
    padding: 1.5em 1em;
    font-family: $main-font;
    width: 50%;
    height: 100vh; // Temporary, please remove once more content is on page.
    margin-left: 25%;
    margin-right: 25%;
}