* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  width: 400px;
  height: 500px;
  margin: 50px auto;
  border: 1px solid black;
  display: flex;
  flex-direction: column;
}

header {
  border: 1px solid black;
  height: 60px;
  display: flex;
  flex-direction: row;
  align-items: center;
}

h1 {
  padding: 5px;
}

main {
  height: 390px;
}

.song {
  border: 1px solid black;
  height: 50px;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 15px;
    height: 15px;
    margin: 22px 10px;
  }
}

.song:hover {
  background-color: #a4a4a4;
}

.song-info {
  padding: 5px;
  align-content: stretch;
}

footer {
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  align-items: center;
  img {
    width: 30px;
    height: 30px;
    padding: 3px;
  }
}
