$default-text-color: #333;
$inverse-text-color: #eee;
$action-hover-color: #597EA1;

/* Player colors */
$color-header-bg: #e7e7e7;
$color-header-border: #3d3d3d;
$color-box-shadow: rgba(0, 0, 0, .25);
$color-footer-bg: #303030;
$color-qa-btn: #a4a4a4;
$color-playlist-item-hover: #efefef;
$color-playlist-item-border: #959799;
