@import url('https://fonts.googleapis.com/css?family=Roboto:100,400,700');

/* CSS RESET:
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
  /*add specialty font */
  font-family: 'Roboto', sans-serif;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/*END RESET*/

@mixin outer($color) {
  width: 100%;
  height: 45px;
  line-height: 45px;
  border: 1px solid black;
  background-color: $color;
}

#container {
  width: 500px;
  margin: 20px auto;
  height: 400px;
  display: flex;
  flex-direction: column;
}

header {
  @include outer(#dedfe0);

  .fa {
    vertical-align: middle;
    padding-left: 10px;
  }
  .top {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    padding-left: 10px;
    font-weight: 700;
    font-size: 22px;
  }
}

.songs {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: 1px solid gray;

  .fa {
    float: left;
    vertical-align: middle;
    margin-top: 10px;
    padding-left: 10px;
  }

  .songInfo {
    display: flex;
    flex-direction: column;
    padding-left: 10px;

    .song1 {
      line-height: 20px;
      font-weight: 400;
      padding-top: 2px;
    }
    .song2 {
      line-height: 15px;
      font-size: 14px;
      vertical-align: middle;
      color: #6f6f70;
    }
  }
}

.filler {
  flex-grow: 1;
  width: 100%;
  border: 1px solid gray;
}

footer {
  @include outer(black);
  color: white;

  #controls {
    float: left;

     i {
       padding-left: 10px;
     }
     #playPause {
         vertical-align: middle;
     }
  }

  #displayBar {
    display: flex;
    flex-direction: column;
    padding-left: 20px;

    .bottom1 {
      line-height: 25px;
      font-weight: 400;
    }
    .bottom2 {
      line-height: 17px;
      font-size: 13px;
      font-weight: 100;
      vertical-align: middle;
    }
  }
}
